html{
    height:100%;
    width:1265px;
}

body{
    position:absolute;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
}

h1#page-title{
    margin-left:60px;
}

div#credits{
    position:absolute;
    bottom:10px;
    right:10px;
}

svg#story-box{
    position:absolute;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
}

.link{
    stroke:black;
    stroke-width:2;
}

.link.skull{
    stroke:red;
    stroke-width:3;
}

.link.picture{
    stroke-width:10;
}

.page{
    fill:grey;
}

.page.hamlet{
    fill:black;
}

.page.ophelia{
    fill:green;
}

.page.senior{
    fill:lightBlue;
}

.page.introduction,
.page.reader{
    fill:white;
    stroke:black;
    stroke-width:1;
}

.page.picture{
    stroke:purple;
    stroke-width:2;
    stroke-dasharray:5,5
}

.page.end{
    stroke:red;
    stroke-width:2;
}